@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/fireRed.jpg);
    background-attachment: fixed; 
    background-size: cover;
}

main {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

picture img {
    width: 300px;
    display: flex;
    right: 0;
    left: 0;
    margin: 5px auto;
}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 10px 0px;
}